body {
  /* phông chữ */
  font-family: Arial, sans-serif;
  font-size: 14pt;

  margin: 0;
  padding: 0;
}

nav a {
  color: #1dac32;
  /* mất dấu gạch chân */
  text-decoration: none;
  /* khoảng cách dòng */
  margin: 0 15px;
  /* căn giữ */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.tieu_de {
  text-align: center;
  color: #1dac32;
  /* lề trên */
  margin-top: 20px;
  /* chữ đậm */
  font-weight: 100;
  /* phông */
  font-family: arial;
  /* cỡ chữ */
  font-size: 18pt;
}
.noi_dung {
  font-style: italic;
  color: rgb(150, 83, 208);
  font-family: arial;
  font-size: 14pt;
}

#intro-image {
  display: block;
  margin: 20px auto;
  width: 50%;
}
h1 {
  margin-left: 100px;
  color: rgb(212, 206, 48);
  font-size: 16pt;
  /* độ dày phông chữ đậm */
  font-weight: bold;
  /* kiểu chữ in nghiêng */
  font-style: italic;
  /* trang trí gạch chân */
  text-decoration: underline;
}
